* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    background-color: #ff6200;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 2;
    height: 60px;
}

.categorie {
    display: flex;
    gap: 20px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.logo {
    width: 120px;
}

.icone {
    display: flex;
    gap: 10px;
    padding-top: 10px;
}

.icona {
    width: 20px;
}

main {
    padding: 70px 0 0 0;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 50px 200px;
}

.img {
    width: 400px;
    margin-bottom: -60px;
}

.prezzo-1 {
    color: #ff0000;
}

.prezzo-2 {
    text-decoration: line-through;
}

footer {
    width: 100%;
    background-color: #202020;
    display: flex;
    align-items: center;
    color: #ffffff;
    justify-content: space-around;
    height: 100px;
}

.categorie-footer {
    display: flex;
    gap: 20px;
    font-size: 15px;
    padding-top: 10px;
}

.sconto {
    background-color: #ff0000;
    color: #ffffff;
    padding: 8px;
    font-size: 12px;
    position: relative;
    top: -40px;
}

.sostenibilità {
    background-color: #128900;
    color: #ffffff;
    padding: 8px;
    font-size: 12px;
    position: relative;
    top: -40px;
}

.like {
    background-color:#ffffff;
    font-size: 40px;
    width: 40px;
    border-style: none;
    position: relative;
    bottom: 80%; 
    left: 90%;   
}

.img-container {
    position: relative;
}

.hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.img-container:hover .hover {
    opacity: 1;
}

.img-container:hover .img {
    opacity: 0;
}