* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #ff6200;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

.categorie {
    display: flex;
    gap: 20px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.logo {
    width: 120px;
}

.icone {
    display: flex;
    gap: 10px;
}

.icona {
    width: 20px;
}

/* main {
    padding: 50px 200px;
} */

.row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 50px 200px;
}

.img {
    width: 400px;
}